table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .list-header{
    text-align: center;
  }
  .viewagendabutton{
    background-color: #12d4e2;
    width:80px;
    height:50px;
  }
  .editagendabutton{
    background-color: #09e909;
    width:80px;
    height:50px;
  }
  .deleteagendabutton{
    background-color: #ec0a0a;
    width:80px;
    height:50px;
  }